.about__container{
    margin: 20px;
    background-color: var(--primary-color);
    border-radius: 10px;
    min-height: 600px;

}

.about__text{
    color: var(--primary-color);
    font-size: var(--primary-font-size-mobile);
    font-weight: var(--primary-font-weight-mobile);
    width: 100%;
    text-align: center;
}