.certificate {
	margin: 10px;
	background-color: rgba(17, 17, 17, 0.33);
	border-radius: 7px;
	position: relative;
	padding: 10px 20px 30px 20px;

}
.certificate:hover {
	cursor: pointer;
	background-color: rgba(9, 185, 185, 0.495);
	transition: 1s;
	box-shadow: 0 0 5px 5px rgb(32, 32, 32);

}	

.certificate__name {
	font-weight: 300;
}

.certificate:hover > p,
.certificate:hover > span{
	font-size: bolder;
	color: white;
	opacity: 1;
}

.certificate__link {
	text-decoration: none;
	color: white;
}

.certificate__open {
	opacity: 0.4;
	position: absolute;
	right: 5px;
	top: 5px;
}


.certificate__info{
	font-size: 13px;
	font-weight: 300;
	color: rgb(184, 184, 184);
	position: absolute;
	right: 10px;
	bottom: 10px;
}



@media only screen and (min-width: 1100px) {
	.certificate {
		width: 300px;
	}
}
