.home{
    margin-top: 60px;
}

.home__container{
    min-height: 75vh;
    display: flex;
    align-items: center;
    margin-bottom: 260px;
}

.blob{
    height: 300px;
    width: 100%;
}

.blob__img{
    width: 90%;
    height: auto;
}