.volunteercard {
	background-color: rgba(17, 17, 17, 0.33);
	margin: 10px;
	border-radius: 7px;
	display: inline-block;
	overflow: hidden;
}


.volunteercard__section1 {
	padding: 5px 10px;
		background-color: rgb(72, 72, 72);
}

.hr {
	min-height: 1px;
	width: 100%;
	background-color: rgb(72, 72, 72);
}

.volunteercard__section2 {
	padding: 10px;
}

.volunteercard__title {
	font-size: 2.5vmax;
	margin: 0;
	margin: 10px 0;
}

.volunteercard__company {
	font-size: 1.5vmax;
	opacity: 0.6;
	margin: 0;
	margin-bottom: 10px;
}
.volunteercard:hover{
	transform: translateY(-10px) !important;
	transition: 0.5s !important;
	box-shadow: 0 0 5px 5px grey;
	cursor: pointer;
}

@media only screen and (min-width: 1100px) {
	.volunteercard {
		width: 18%;
	}
	.volunteercard__title {
		font-size: 1.3vmax;
	}
	.volunteercard__company {
		font-size: 0.8vmax;
		margin: 0;
	}
	.volunteercard__section1 {
		min-height: 90px;
	}

	
.volunteercard__section2 {
	padding: 20px;
}
}
