.project__title{
    
	font-size: var(--secondary-header-font-size-mobile);
	text-align: center;
	margin-top: 20%;
	margin-bottom: 10%;
}

.more__projects{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content:center;
	margin-top: 50px;
}

.more__projects__button{
	text-decoration: none;
	background-color: rgba(21, 21, 21, 0.299);
	border-radius: 5px;
	padding: 15px;
	margin: 10px;
	color: white;
	transform: scale(1);
}

.more__projects__button:hover{
	transform: scale(1.1);
	transition: 0.4s;
}


@media only screen and (min-width: 1100px) {
	.project__title {
		font-size: var(--primary-header-font-size-mobile);
		margin-top: 10%;
		margin-bottom: 3%;
	}
    
	.projects__section{
		margin: 100px 10px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}
