.education__degree {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.education__degree__title__text {
	font-size: var(--primary-header-font-size-mobile);
	margin-top: 10%;
	margin-bottom: 10%;
}

.education__degrees {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.education__degree_card {
	width: 100%;
}

.education__certification {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.education__certification__title__text {
	font-size: var(--primary-header-font-size-mobile);
	margin-top: 20%;
	margin-bottom: 10%;
}

.education__courses {
	margin: 15px;
}

@media only screen and (min-width: 1100px) {
	.education__courses {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}
